<div class="maininfo-container">
  <div class="info-left-container">
    <img class="img-tag" src="<%=tour.image%>" height="100%" width="100%" />
  </div>
  <div class="title-container">
    <h2><%=tour.title%> (<%=tour.year %>)</h2>
    <h4><%=tour.story %></h4>
    <h4>Genre:<%=tour.triller %></h4>
  </div>
  <div><p>RATING (<%=tour.rating %>) ⭐</p></div>
  <div></div>
  <div></div>
</div>
